@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
    /* hue-saturation-lightness-alpha */
    --primary-color: hsl(330, 87%, 17%);
    --secondary-color: hsla(203, 100%, 13%, 1);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* Start Header */

header {
    height: 100vh;
    background: linear-gradient(30deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)),
        url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Start nav bar */
.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--secondary-color));
    padding: 20px 30px;
}

/* End nav bar */

/* End Header */